<section id="speakers" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12 wow bounceIn">
        <div class="section-title">
          <h2>Our Team</h2>
          <p>We are the team from G H Patel College of Engineering & Technology</p>
        </div>
      </div>

      <!-- Testimonial Owl Carousel section
      ================================================== -->
      <div class="container">

        <div class="item wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
          <div class="speakers-wrapper col-centered">
            <img src="./assets/images/Ruchitesh_Malukani.jpg" class="img-responsive full-width" alt="speakers">
            <div class="speakers-thumb">
              <h3>Ruchitesh Malukani</h3>
              <h6>Team Member</h6>
            </div>
          </div>
        </div>

        <div class="item wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.9s">
          <div class="speakers-wrapper">
            <img src="./assets/images/Nihaal_Subhash.jpg" class="img-responsive" alt="speakers">
            <div class="speakers-thumb">
              <h3>Nihaal Subhash</h3>
              <h6>Team Member</h6>
            </div>
          </div>
        </div>


        <div class="item wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1.2s">
          <div class="speakers-wrapper">
            <img src="./assets/images/Chhaya_maam.jpg" class="img-responsive" alt="speakers">
            <div class="speakers-thumb">
              <h3>Prof. Chhaya Zala</h3>
              <h6>Faculty Guide</h6>
            </div>
          </div>
        </div>

<!--        <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">-->
<!--          <div class="speakers-wrapper">-->
<!--            <img src="./assets/images/speakers-img3.jpg" class="img-responsive" alt="speakers">-->
<!--            <div class="speakers-thumb">-->
<!--              <h3>Je Mary Lee</h3>-->
<!--              <h6>Web Specialist</h6>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">-->
<!--          <div class="speakers-wrapper">-->
<!--            <img src="./assets/images/speakers-img4.jpg" class="img-responsive" alt="speakers">-->
<!--            <div class="speakers-thumb">-->
<!--              <h3>Johnathan Doe</h3>-->
<!--              <h6>Frontend Dev</h6>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">-->
<!--          <div class="speakers-wrapper">-->
<!--            <img src="./assets/images/speakers-img5.jpg" class="img-responsive" alt="speakers">-->
<!--            <div class="speakers-thumb">-->
<!--              <h3>Elite Hamilton</h3>-->
<!--              <h6>Marketing Guru</h6>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>

    </div>
  </div>
</section>
