<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-offset-1 col-md-5 col-sm-6" data-wow-delay="0.6s">
				<div class="contact_des">
					<h3>About Us</h3>
					<p>We are students of G H Patel College of Engineering & Technology affiliated by Gujarat Technological University(GTU).</p>
          <ul class="list-group">
            <li class="list-group-item">
              <p>Ruchitesh Malukani - Ruchitesh22@gmail.com</p>
              <p>Enrollment Number - 160110107026</p>
            </li>
            <li class="list-group-item">
              <p>Nihaal Subhash - Nihaal.subhash@gmail.com</p>
              <p>Enrollment Number - 160110107064</p>
            </li>
          </ul>

				</div>
			</div>

			<div class="wow fadeInUp col-md-5 col-sm-6" data-wow-delay="0.9s">
				<div class="contact_detail">
					<div class="section-title">
						<h2>Keep in touch</h2>
					</div>
					<form action="mailto:ruchitesh22@gmail.com" method="post" enctype="text/plain">
						<input name="name" type="text" class="form-control" id="name" placeholder="Name">
					  	<input name="email" type="email" class="form-control" id="email" placeholder="Email">
					  	<textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
						<div class="col-md-6 col-sm-10">
<!--							<input name="submit" type="submit" class="form-control" id="submit" value="SEND">-->
              <a href="mailto:ruchitesh22@gmail.com" type="submit" class="btn btn-lg btn-danger">SEND</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>
