.best-features {
	margin-top: 50px;
}
.section-heading {
	text-align: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
}
.best-features .left-content {
		margin-bottom: 30px;
	}
a.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}
a.filled-button {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
}
.right-image{
  width: 75%;
  /*padding: 0;*/
  /*display: block;*/
  /*margin: 0 auto;*/
  /*float: right;*/
}
.btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 22px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-danger {
    background: #f2545f;
    border-color: transparent;
}
.btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
p{
  color: white;
}

#imgcol{
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 4000;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

div.center iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}
