<section id="detail" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
        <i class="fa fa-connectdevelop"></i>
        <h3>Deep Learning</h3>
        <p >Our model has been created using deep learning based approach which is modern approach nowadays.</p>
      </div>

      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
        <i class="fa fa-sort-amount-asc"></i>
        <h3>Flexible Length</h3>
        <p>Unlike Template based image captioning approaches our model is not restricted to fixed length of caption.</p>
      </div>

      <div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s">
        <i class="fa fa-microphone"></i>
        <h3>Text to Speech support</h3>
        <p>We also provide support for text to speech to read aloud the captions.</p>
      </div>

    </div>
  </div>
</section>
