<section id="overview" class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.6s">
        <h3>What is Image Captioning?</h3>
        <p>Automatic image annotation (also known as automatic image tagging or linguistic indexing) is the process by which a computer system automatically assigns metadata in the form of captioning or keywords to a digital image. Automatically describing the content of an image is a fundamental problem in artificial intelligence that connects computer vision and natural language processing.
        </p>
        <p>Here we are presenting a generative model based on a deep re-current architecture that combines recent advances in computer vision and machine translation and that can be used to generate natural sentences describing an image.
        </p>
      </div>

      <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.9s">
        <img src="./assets/images/clipart2.png" class="img-responsive" alt="Overview">
      </div>
    </div>
  </div>
</section>
