<section id="program" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
        <div class="section-title">
          <h2>Advancement Stages</h2>
          <p>Milestones in our progress can be represented in the following phase structure.</p>
        </div>
      </div>

      <div class="wow fadeInUp col-md-10 col-sm-10" data-wow-delay="0.9s">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#fday" aria-controls="fday" role="tab" data-toggle="tab">PHASE-I</a></li>
          <li><a href="#sday" aria-controls="sday" role="tab" data-toggle="tab">PHASE-II</a></li>
          <li><a href="#tday" aria-controls="tday" role="tab" data-toggle="tab">PHASE-III</a></li>
        </ul>
        <!-- tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="fday">
            <p style="text-align: justify;margin: 3rem 0 3rem 3rem;">This is the most earliest phase of our project. We began our project by having a look on various domains followed by topic selection and concept understanding.</p>
            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c1.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 09.00 AM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 240</span>-->
<!--              </h6>-->
              <h3>Exploring the domains</h3>
<!--              <h4>By Jenny Green</h4>-->
              <p>We started our exciting journey by exploring various domains of Computer Science. Finally, we selected Computer Vision and Natural Language Processing as our project domain. </p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c2.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 10.00 AM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 360</span>-->
<!--              </h6>-->
              <h3>Selection of the topic</h3>
<!--              <h4>By Johnathan Mark</h4>-->
              <p>We decided to go with today's the most technology i.e Deep Learning hence we explored many ideas for the same. Finally we decided to create an Automatic Image Caption Generator using the state of the art methods.</p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c3.png" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 11.00 AM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 450</span>-->
<!--              </h6>-->
              <h3>Basic concept understanding</h3>
<!--              <h4>By Johnathan Doe</h4>-->
              <p>We started learning the underlying concepts of Machine Learning, Deep Learning using various learning platforms like Coursera and YouTube.</p>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="sday">
             <p style="text-align: justify;margin: 3rem 0 3rem 3rem;">In this phase we completed the literature survey on various papers related to Automatic Image Captioning.</p>
            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c4.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 11.00 AM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 240</span>-->
<!--              </h6>-->
              <h3>Exporing the methods used in various papers</h3>
              <p>We explored different methods used in various papers for achieving the solution of generating captions for the images.</p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c5.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 01.00 PM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 450</span>-->
<!--              </h6>-->
              <h3>Understanding the underlying technologies and tools</h3>
<!--              <h4>By David Orlando</h4>-->
              <p>We read about various models, tools and technologies used by different papers. Also we explored various datasets used by them. </p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c6.png" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 03.00 PM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 650</span>-->
<!--              </h6>-->
              <h3>Survey paper and Poster writing</h3>
<!--              <h4>By James Lee Mark</h4>-->
              <p>We presented survey paper and poster on "Automatic image captioning methods" in International Conference on Recent Advances in Computer Science and Technology (ICRACST- 2020).</p>
                <div class="btn btn-primary" id="havealookbtn">Have a look</div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="tday">
            <p style="text-align: justify;margin: 3rem 0 3rem 3rem;">
              In this phase we started implementing our project. We have used CNN as a feature extractor and RNN as a language model.
            </p>
            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c7.png" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 03.00 PM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 750</span>-->
<!--              </h6>-->
              <h3>Data pre-processing</h3>
<!--              <h4>By Michael Walker</h4>-->
              <p>We explored various datasets such as Flikr-8K, Flikr-30K and MSCOCO for our task. Finally we decided to go with MSCOCO dataset.</p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c8.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 05.00 PM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 850</span>-->
<!--              </h6>-->
              <h3>Model selection and training</h3>
<!--              <h4>By Cherry Stella</h4>-->
              <p>We selected Encoder-Decoder model for our project. We have used CNN as Encoder for extracting features from the image and RNN as language translator for caption generation. We trained our model on MSCOCO dataset over approximately 82K images.</p>
            </div>

            <!-- program divider -->
            <div class="program-divider col-md-12 col-sm-12"></div>

            <!-- program speaker here -->
            <div class="col-md-2 col-sm-2">
              <img src="./assets/images/c9.jpg" class="img-responsive" alt="program">
            </div>
            <div class="col-md-10 col-sm-10">
<!--              <h6>-->
<!--                <span><i class="fa fa-clock-o"></i> 07.00 PM</span>-->
<!--                <span><i class="fa fa-map-marker"></i> Room 750</span>-->
<!--              </h6>-->
              <h3>Testing and Deployment</h3>
<!--              <h4>By John David</h4>-->
              <p>Finally we tested and deployed our trained model using Flask framework for backend and Angular framework for frontend web development. </p>
              <button routerLink="caption_generator" (click)="window.scrollTo(0, 0)" class="btn btn-primary">Explore now!</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
